*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #e0e0e0;
}

.calculator-container{
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
}



form{
    background-color: #e0e0e0;
    padding: 15px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.2);
}

input[type=text]{
    width: 100%;
    height: 100px;
    border: 0;
    background: transparent;
    outline: none;
    font-size: 20px;
    padding: 0 20px;
    color: #0e0e0e;
}

form div {
    display: flex;
    justify-content: center;
}

input[type=button]{
    height: 40px;
    width: 60px;
    border-radius: 10px;
    border: 0;
    outline: none;
    margin-top: 5px;
    background: transparent;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),
                5px 5px 15px rgba(0, 0, 0, 0.2);
    color: #0e0e0e;
    transition: .2s;
    margin: 2px;
    font-size: 20px;
}

input[type=button]:hover{
    background: rgb(255, 0, 179);
    color: #e0e0e0;
}

input[class~=operator]{
    color: rgb(255, 0, 179);
    font-size: 25px;
}

input[class~=operator]:hover{
    color: #e0e0e0;
}


#evaluate{
    width: 124px;
}
